* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}


.main_txt {
    width: 80%;
    margin: 0 auto;
}

#roadmap .roadmap_wrap .roadmap_right .rdm_box .box_f {
    height: 450px;
}

@media screen and (max-width:1024px) {
    .intro1_txt br {
        display: none;
    }

    .int2_cont_txt {
        text-align: center;
    }

    .int2_cont_txt br {
        display: none;
    }

    .int3_box p br {
        display: none;
    }


}

@media screen and (max-width:991px) {
    #home .main_area h2 {
        font-size: 6rem;
    }

    .main_txt {
        width: 100%;
    }


    #home .main_area h2 {
        font-size: 5rem;
    }

}

@media screen and (max-width:767px) {


    .int2_cont_txt h4 br.need {
        display: block;
    }

    .intro2_circle::after {
        top: 45%;
    }
}

@media screen and (max-width: 576px) {
    #home .main_area h2 {
        font-size: 3.2rem;
    }
    #coin .coin_area .chart_data ul li {
        font-size: 12px;
    }

    #coin .coin_area .chart_data ul li br{
        display:none;
    }
}


@media screen and (max-width:425px) {
    .int3_box h5{
        font-size: 0.9em;
      }
}

