@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'EF_hyunygothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_hyunygothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  font-family: 'NEXON Lv2 Gothic';
}


h2 {
  font-family: 'EF_hyunygothic';

}

h3 {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
  background: linear-gradient(to right, #72FFFF, #A06DFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover,
a:focus {
  color: #f48b95;
}


@media (min-width:1521px) {
  .container {
    max-width: 1521px;
  }
}





/* 헤더 */

header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 999;
  background-color: rgba(35, 26, 61, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.429);
}

header .hd_all {
  width: 90%;
  margin: 0 auto;
  line-height: 100px;
}

.hd_all hgroup {
  float: left;
}

.hd_all hgroup img {
  margin-top: 10px;
  max-width: 55%;
  transition: all .2s ease-in-out;
}

.hd_all hgroup img:hover {
  transform: scale(1.1);
}

header h1 {
  color: #AAA;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 5px;
}

nav.pc_wrap {
  margin: 0 auto;
  text-align: center;
}

nav.pc_wrap a {
  color: #FFF;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  display: block;
  float: left;
}

.pc_wrap ul {
  line-height: 120px;
}

.pc_wrap ul li {
  text-align: center;
  line-height: 120px;
  display: inline-block;
  margin-right: 50px;
  font-size: 18px;
}

.pc_wrap ul li a {
  display: block;
}


nav.pc_wrap ul li.lan img {
  max-width: 30px;
}

nav.circleBehind a:before,
nav.circleBehind a:after {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid #7ff8f8ce;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
  box-shadow: 0 0 5px #7ff8f8ce,
    0 0 25px #7ff8f8ce,
    0 0 50px #7ff8f8ce,
    0 0 200px #7ff8f8ce;
}

nav.circleBehind a:after {
  border-width: 2px;
  transition: all 0.4s;
}

nav.circleBehind a:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

nav.circleBehind a:hover:after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

nav.pc_wrap ul li.lan a {
  position: relative;
  display: inline-block;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  z-index: 10;
}

nav.pc_wrap ul li.lan a:hover {
  background: #7FF8F8;
  color: #050801;
  box-shadow: 0 0 5px #7FF8F8,
    0 0 25px #7FF8F8,
    0 0 50px #7FF8F8,
    0 0 200px #7FF8F8;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}



nav.pc_wrap ul li.lan a:nth-child(2) {
  filter: hue-rotate(270deg);
}

nav.pc_wrap ul li.lan a span {
  position: absolute;
  display: block;
}

nav.pc_wrap ul li.lan a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #7FF8F8);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

nav.pc_wrap ul li.lan a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #7FF8F8);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

nav.pc_wrap ul li.lan a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #7FF8F8);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

nav.pc_wrap ul li.lan a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #7FF8F8);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }

}


nav.pc_wrap ul li.lan a:hover:after,
nav.pc_wrap ul li.lan a:hover:before {
  display: none;
}


/* 모바일 네비 */

/*반응형*/
.hd_all .menu-btn {
  line-height: 100px;
  display:none;
}

.wrapper {
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background: rgba(16, 7, 28, 0.87);
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}

#active:checked~.wrapper {
  /*left: 0;*/
  right: 0;
  overflow: hidden;
}

.menu-btn {
  position: absolute;
  z-index: 2;
  right: 5%;
  top: 35px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 12%;
  width: 75%;
  border-bottom: 3px solid #03e9f4;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
  transform: translateY(-8px);
}

.menu-btn:after {
  transform: translateY(8px);
}


.close {
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background .6s;
}

/* closing animation */
#active:checked+.menu-btn span {
  transform: scaleX(0);
}

#active:checked+.menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}

#active:checked+.menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  overflow: hidden;
}

.wrapper ul li {
  height: 7%;
  margin: 32px auto;
  text-align: center;
  width: 100%;
}

.wrapper ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  transform: translateY(-50%);
  line-height: 3;
  margin: 5px auto;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  text-align: center;
  max-width: 100%;
  position: relative;
}

.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}

.wrapper ul li a:hover {
  color: #03e9f4;;
}

input[type="checkbox"] {
  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}

.content .title {
  font-size: 40px;
  font-weight: 700;
}

.content p {
  font-size: 35px;
  font-weight: 600;
}

#active:checked~.wrapper ul li a {
  opacity: 1;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a {
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}

#active:checked~.wrapper ul li a.lan {
  background: #03e9f4;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  transition: all .3s;
}

#active:checked~.wrapper ul li a.lan:hover {
  background: #222222;
  color: #fff;
  clear: both;
  box-shadow: 0 0 10px 0 #E3004C inset, 0 0 10px 4px #E3004C;
}

#active:checked~.wrapper ul li a.lan::after {
  display: none;
}


#active:checked~.wrapper ul li a {
  transform: none;
  transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
  /* easeOutBackを緩めた感じ */
  transition-delay: .6s;
  transform: translateX(-100px);
}

.hd_all .wrapper ul li a.lan img{
  max-width: 30px;
}


/* 홈 */




/* home */
#home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

#home .main_vid {
  height: 100%;
  width:100%;
}

#home .main_vid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#home .main_vid::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#home .main_area {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding-top: 2%;
}

#home .main_area h2 {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 10px;
  background: linear-gradient(to right, #5E3EFF, #7FF8F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}



#home .main_area .main_txt b {
  font-size: 2.2rem;
  font-weight: 500;
  text-shadow: rgba(0, 0, 0, 0.72) 1px 0 10px;
}

#home .main_area .main_txt p {
  font-size: 1.5rem;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.72) 1px 0 10px;
}


.down_area {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.down_area button {
  background-image: linear-gradient(to right, #72FFFF 0%, #5800FF 100%);
  width: 20%;
  padding: 1%;
  border-radius: 10px;
  transition: all .3s;
  border: none;
  background-size: 200% auto;
}

.down_area button a {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down_area button a i {
  font-size: 2.5rem;
  margin-right: 10px;
  font-weight: normal;
}

.down_area button:hover {
  background-position: center center;
}

.down_area button:hover a {
  color: #fff;
  text-decoration: none;

}



#intro1{
  width: 100%;
  background: #1D007F;
  background: -webkit-linear-gradient(left bottom, #1D007F 5%, #170034 95%);
  background: -moz-linear-gradient(left bottom, #1D007F 5%, #170034 95%);
  background: -o-linear-gradient(left bottom, #1D007F 5%, #170034 95%);
  background: linear-gradient(to top right, #1D007F 5%, #170034 95%);
  padding: 200px 0;
  position: relative;

  overflow:hidden;
}

.intro1_wrap{
  width: 100%;
}

.intro1_bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.intro1_bg::after{
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 75%;
  background: url(../img/intro1_bg.png) no-repeat;
  background-size: contain;
}

.intro1_circle{
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.intro1_circle::after{
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../img/intro1_circle.png) no-repeat;
  background-size: cover;
}

.intro1_circle_m{
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../img/intro1_circle_m.png) no-repeat;
  background-size: cover;
  display: none;
}

.intro1_circle_m::after{
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


.intro1_contents{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.intro1_txt{
  width: 30%;
  margin-top: 10%;
}

.intro1_txt h3{
  text-align: left;
}

.intro1_txt p{
  color: #fff;
}

.intro1_img{
  width: 60%;
  z-index: 5;
}

.intro1_img img{
  max-width: 90%;
}



/*intro2*/

#intro2{
  width: 100%;
  position: relative;
  background-color: #211527;
  text-align-last: center;
  padding: 150px 0 100px;
  
  overflow:hidden;
}

.intro2_wrap{
  width: 100%;
}

.intro2_bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro2_bg::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../img/intro2_bg.png) no-repeat;
}

.intro2_circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.intro2_circle::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../img/intro2_circle_w.png) no-repeat;
}

.intro2_circle_m{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.intro2_circle_m::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../img/intro2_circle_m.png) no-repeat;
}

.intro2_contents{
  width: 100%;
}

.int2_cont_txt{
  width: 100%;
  margin-bottom: 5%;
}

.int2_cont_txt p, .int2_cont_txt h4{
  color: #fff;
}

.int2_cont_txt h4{
  margin-bottom: 3%;
  font-weight: bold;
}

.int2_cont_txt br.need{
  display: none;
}

.int2_img{
  width: 100%;
}

.int2_img img{
    max-width: 70%;
}



/*intro3*/


#intro3{
  width: 100%;
  position: relative;
  background-color: #000;
  padding: 100px 0;
  text-align: center;
  
  overflow:hidden;
}

.intro3_wrap{
  width: 100%;
}


.intro3_bg_color{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 0;
}


.intro3_bg_color::after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  content: "";
  background: #5331FF;
  background: -webkit-linear-gradient(transparent , #5331FF);
  background: -moz-linear-gradient(transparent , #5331FF);
  background: -o-linear-gradient(transparent , #5331FF);
  background: linear-gradient(transparent , #5331FF);
}

.intro3_bg{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.intro3_bg::after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url(../img/intro3_bg.png) no-repeat;
  background-size: cover;
}

.intro3_contents{
  width: 100%;
  margin-top: 5%;
  z-index: 2;
}

.int3_cont_up{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.int3_cont_down{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.int3_box{
  background: #4B3470;
  background: -webkit-radial-gradient(rgba(75,52,112,0.7) , rgba(17,1,60,.7));
  background: -moz-radial-gradient(rgba(75,52,112,0.7), rgba(17,1,60,.7));
  background: -o-radial-gradient(rgba(75,52,112,0.7) , rgba(17,1,60,.7));
  background: radial-gradient(rgba(75,52,112,0.7) , rgba(17,1,60,.7));
  box-shadow: 0 0 20px #000;
  padding: 2%;
  width: 45%;
  z-index: 5;
}

.int3_box p{
  color: #fff;
}

.int3_box h5{
  background: linear-gradient(to right, #7BCEFF, #A372FF);
  background: -webkit-linear-gradient(to right, #7BCEFF, #A372FF);
  background: -moz-linear-gradient(to right, #7BCEFF, #A372FF);
  background: -o-linear-gradient(to right, #7BCEFF, #A372FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.int3_box_icon{
  width: 100%;
  margin-bottom: 4%;
}

.int3_box_icon img{
  max-width: 30%;
}



/* coin */
#coin {
  width: 100%;
  height: 100%;
  padding: 90px 0;
  background-color: #000;
  background-size: cover;
}

#coin .coin_area h3 {
  text-align: center;
}

#coin .coin_area .chart_txt {
  width: 80%;
  color: #fff;
  text-align: center;

  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 5%;
}

#coin .coin_area::after {
      content: '';
      background: url(../img/coin_a.png) no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 10%;
}

#coin .coin_area .chart_area {
  width: 80%;
  background: radial-gradient(100% 439% at 100% 50%, rgba(52, 76, 112, 0.8) 0%, rgba(17, 1, 60, 0) 100%);
  border-radius: 5px 150px 5px 5px;
  padding: 0 5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
#coin .coin_area .chart_graph{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5%;
}

#coin .coin_area .chart_graph img{
  width: 100%;
  position: relative;
  z-index: 10;
}

#coin .coin_area .chart_data {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 5%;
}
#coin .coin_area .chart_data ul li {
  line-height: 4;
  display: flex;
  align-items: center;
}
#coin .coin_area .chart_data ul li span {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #090A26;
  display: block;
  margin-right: 20px;
}
#coin .coin_area .chart_data ul li:nth-child(2) span {
  background-color: #1D3D59;
}
#coin .coin_area .chart_data ul li:nth-child(3) span {
  background-color: #3587F2;
}
#coin .coin_area .chart_data ul li:nth-child(4) span {
  background-color: #4BAABF;
}
#coin .coin_area .chart_data ul li:nth-child(5) span {
  background-color: #6BE5F2;
}
#coin .coin_area .chart_data ul li:nth-child(6) span {
  background-color: #C0E2E2;
}

/* roadmap */
#roadmap {
    width: 100%;
    height: 100%;
    background: #000;
    padding: 5% 0%;
    background-size: cover;
    position: relative;
}

/* 배경 이미지 */
#roadmap .roadmap_wrap::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../img/roadmap1.png) no-repeat;
}

/* 타이틀 텍스트 */
#roadmap .roadmap_wrap .roadmap_title h3 {
  margin-top: 10%;
  margin-bottom: 30px;
  background: linear-gradient(to right, #72FFFF, #A06DFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  position: relative;  
}

#roadmap .roadmap_wrap .roadmap_title h3::after {
    content: '';
    width: 180px;
    height: 5px;
    background: linear-gradient(to right, #72FFFF, #A06DFF);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* 영역 */
#roadmap .roadmap_wrap {
    width: 100%;
    display: flex;
}

#roadmap .roadmap_wrap .roadmap_title {
    width: 50%;
}

#roadmap .roadmap_wrap .roadmap_right .rdm_box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
#roadmap .roadmap_wrap .roadmap_right .rdm_box .box_f{
  width: 370px;
  height: 370px;
  background: rgba(2, 2, 2, 0.3);
  box-shadow: 0px 0px 50px rgba(127, 248, 248, 0.4);
  margin-top: 3%;
  margin-left: 8%;
  border-radius: 7px;
  text-align: center;
}

#roadmap .roadmap_wrap .roadmap_right .rdm_box .box_f:nth-child(2){
  background: url(../img/rdm.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

/* 카드 텍스트---------- */

#roadmap .roadmap_wrap .roadmap_right .rdm_box .box_f h4 {
  color: #fff;
  padding: 10% 0% 3% 10%;
  font-size: 1.8rem;
  font-weight: 600;
  display: block;
  text-align: left;
}

#roadmap .roadmap_wrap .roadmap_right .rdm_box .box_f h5 {
  color: #fff;
  padding: 0 0 0 10%;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  text-align: left;
}
#roadmap .roadmap_wrap .roadmap_right .rdm_box .box_f p {
  color: #fff;
  padding: 0 0 0 10%;
  display: block;
  text-align: left;
}

/* contact */
#contact {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../img/con_bg.png) no-repeat center;
  padding: 100px 0;
  position: relative;
}

#contact .contact_area {
  width: 100%;
  height: 600px;
  padding: 3%;
  background: url(../img/con_bg_in.png) repeat center;
  background-position: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#contact .contact_area::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(53, 85, 135, 0.49);

}

#contact .contact_area .con_box {
  position: relative;
  display: flex;
  width: 100%;
  height:100%;

}


#contact .contact_area .con_box .con_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

#contact .contact_area .con_box .con_left h2 img{
  max-width: 100px;
}

#contact .contact_area .con_box .con_left b{
  
  font-size: 5rem;
  color: #fff;
  position: relative;
}

#contact .contact_area .con_box .con_left b::after{
  content: "";
  background-color: #fff;
  width: 136px;
  height:4px;
  position: absolute;
  bottom: 0;
  left: 0;
}


#contact .contact_area .con_box .con_right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  margin: 0 auto;
  background-color:rgba(53, 85, 135, 0.54);
  padding: 2%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#contact .contact_area .con_box .con_right h4{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

#contact .contact_area .con_box .con_right p {
 margin-left: 30px;
}

#contact .contact_area .con_box .con_right form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}


#contact .con_box .con_right form input.email::placeholder,
#contact .con_box .con_right form textarea#message::placeholder {
  color: #fff;
  border:none;


}

#contact .con_box .con_right form input.email,
#contact .con_box .con_right form textarea{
  width: 90%;
  background-color: rgba(53, 85, 135, 0.93);
  padding: 3% ;
  border-radius: 30px;
  border: none;
}

#contact .con_box .con_right form textarea {
  height: 55%;
}


#contact .con_box .con_right form input.send {
  background-color: #ffffff;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  border:none;
  width:20%;
  margin: 0 auto;
  background-color: rgba(53, 85, 135, 0.93);
  transition: all .3s;
}

#contact .con_box .con_right form input.send:hover{
  background-color:#fff;
  color: rgba(53, 85, 135, 0.93);
}


/* 푸터  */

footer{
  background-color: #222222;
  color:#fff;
  padding: 3% 0;
}

footer .footer_area .footer_top{
  width: 100%;
  display: flex;
  justify-content: space-between;
    align-items: flex-start;
}

footer .footer_area .footer_top h4{
  font-size: 1.5rem !important;
  font-weight: 400;
  margin-bottom: 30px;
}

footer .footer_area .footer_top .con_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

footer .footer_area .footer_top .con_info dl{
  line-height: 2;
}

footer .footer_area .footer_top .con_info dl dd{
  color: #767676;
}

footer button{
  background-color:#222222;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all .3s;
}

footer button:hover{
  background-color: #fff;
}

footer button:hover a{
  color: #222222;
  text-decoration: none;
}

footer button a{
  color:#fff;
  font-size: 1.2rem;
}

footer button a i{
  font-size: 2rem;
}

footer .white_pp{
  width:50%;

}

footer .white_btn button{
 width:20%;
}

footer .white_btn:first-child button{
  margin-right: 20px;
}

footer .white_btn button a{
  padding:2%;
  display: block;
}

footer .white_btn button a img{
  max-width: 30px;
}

footer .sns{
  width:30%;
  display: flex;
}

footer .sns_btn button a i{
  padding: 5px;
}

footer .footer_bottom{
  text-align: center;
}
